{% extends "src/views/layouts/documentation.html" %}

{% block content %}
<div class="tu-typo">

    <h1>{{ title }}</h1>

    <p>
        These tab examples utilize <a href="start-javascript.html#config-tabs" title="JavaScript">JavaScript</a>
        for their functionality.
    </p>

    <h2>Tabs with buttons</h2>

</div>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="panel-1" role="tabpanel" tabindex="0" aria-labelledby="tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/example-tabs-buttons.html" %}
        </div>

    </div> <!-- /#panel-1 -->

    <div id="panel-2" role="tabpanel" tabindex="0" aria-labelledby="tab-2" hidden>

        <div class="tc-code tc-code-terminal">
            <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/example-tabs-buttons.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#panel-2 -->

</div> <!-- / tab container -->

<h2 class="tu-typo-apply">Tabs with underline</h2>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tab-3"
                role="tab"
                aria-selected="true"
                aria-controls="panel-3"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tab-4"
                role="tab"
                aria-selected="false"
                aria-controls="panel-4"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="panel-3" role="tabpanel" tabindex="0" aria-labelledby="tab-3">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/example-tabs-underline.html" %}
        </div>

    </div> <!-- /#panel-3 -->

    <div id="panel-4" role="tabpanel" tabindex="0" aria-labelledby="tab-4" hidden>

        <div class="tc-code tc-code-terminal">
             <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/example-tabs-underline.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#panel-4 -->

</div> <!-- / tab container -->

{% endblock %}