{% extends "src/views/layouts/documentation.html" %}

{% block content %}
<div class="tu-typo">

    <h1>{{ title }}</h1>

    <p>
        Dark mode can be toggled manually if the <code>tailwind.config.js</code> file is configured
        to use the class strategy. For more information,
        see <a href="start-installation.html" title="installation">installation</a>.
    </p>

    <h2>Toggle theme</h2>

    <p>
        Any element with a <code>data-theme-toggle</code> attribute will set the theme to its value when clicked.
    </p>

    <h3>Examples</h3>

</div>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="dark-mode-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="dark-mode-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="dark-mode-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="dark-mode-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="dark-mode-panel-1" role="tabpanel" tabindex="0" aria-labelledby="dark-mode-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/example-dark-mode.html" %}
        </div>

    </div> <!-- /#dark-mode-panel-1 -->

    <div id="dark-mode-panel-2" role="tabpanel" tabindex="0" aria-labelledby="dark-mode-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
             <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/example-dark-mode.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#dark-mode-panel-2 -->

</div> <!-- / tab container -->
{% endblock %}