{% extends "src/views/layouts/documentation.html" %}

{% block content %}
<div class="tu-typo">

    <h1 id="{{ title }}">{{ title }}</h1>

    <p>Badges are available as a web component using the <code>skin-badge</code> tag.</p>

    <p>Attributes:</p>

    <ul class="tc-list mb-6">
        <li><code>data-icon</code>: Any valid <a href="icon.html" title="skin-icon">skin-icon</a> name (optional)</li>
        <li><code>data-style</code>: Alternate style (optional)</li>
    </ul>

    <p>Valid styles include:</p>

    <ul class="tc-list mb-6">
        <li><code>pill</code>: Rounded</li>
    </ul>

    <h2 id="examples">Examples</h2>

</div>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="web-component-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="web-component-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="web-component-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="web-component-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="web-component-panel-1" role="tabpanel" tabindex="0" aria-labelledby="web-component-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/skin-badge.html" %}
        </div>

    </div> <!-- /#web-component-panel-1 -->

    <div id="web-component-panel-2" role="tabpanel" tabindex="0" aria-labelledby="web-component-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
             <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/skin-badge.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#web-component-panel-2 -->

</div> <!-- / tab container -->
{% endblock %}