{% extends "src/views/layouts/documentation.html" %}

{% block content %}
<div class="tu-typo">

    <h1 id="{{ title }}">{{ title }}</h1>

    <p>Toasts are available as a web component using the <code>skin-toast</code> tag.</p>

    <p>Attributes:</p>

    <ul class="tc-list mb-6">
        <li><code>id</code>: Unique ID (required if dismissible)</li>
        <li><code>data-hide-duration</code>: Duration (in minutes) to keep the toast hidden after dismissed (optional)</li>
        <li><code>data-hide-transition</code>: Duration (in milliseconds) of the dismissal transition, <code>250</code> by default (optional)</li>
        <li><code>data-icon</code>: Any valid <a href="icon.html" title="skin-icon">skin-icon</a> name (optional)</li>
        <li><code>data-location</code>: Location of the toast appearance in the window (optional)</li>
        <li><code>data-location-id</code>: Unique ID for the generated toast container (can be used to programmatically show toast, optional)</li>
        <li><code>data-style</code>: Alternate style (optional)</li>
    </ul>

    <p>Valid locations include:</p>

    <ul class="tc-list mb-6">
        <li><code>tl</code>: Top left</li>
        <li><code>tr</code>: Top right</li>
        <li><code>bl</code>: Bottom left</li>
        <li><code>br</code>: Bottom right</li>
    </ul>

    <p>Valid styles include:</p>

    <ul class="tc-list mb-6">
        <li><code>bt</code>: 4px top border</li>
        <li><code>br</code>: 4px right border</li>
        <li><code>bb</code>: 4px bottom border</li>
        <li><code>bl</code>: 4px left border</li>
    </ul>

    <h2 id="examples">Examples</h2>

</div>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="web-component-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="web-component-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="web-component-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="web-component-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="web-component-panel-1" role="tabpanel" tabindex="0" aria-labelledby="web-component-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/skin-toast.html" %}
        </div>

    </div> <!-- /#web-component-panel-1 -->

    <div id="web-component-panel-2" role="tabpanel" tabindex="0" aria-labelledby="web-component-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
            <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/skin-toast.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#web-component-panel-2 -->

</div> <!-- / tab container -->

<div class="tu-typo">

    <h3 id="programmatic-toast">Programmatic toast</h3>

    <p>
        Toasts can be created programmatically using the
        <a href="start-javascript.html#skin.toast.create" title="Skin.Toast.create">Skin.Toast.create</a> function.
    </p>

</div>

<div class="tc-code tc-code-terminal">
    <pre><code class="language-html">
        {% filter escape %}
        {% include "src/views/snippets/tc-toast-js.html" %}
        {% endfilter %}
    </code></pre>
</div>
{% endblock %}