{% extends "src/views/layouts/documentation.html" %}

{% block content %}
<div class="tu-typo">

    <h1 id="configuration">Configuration</h1>

    <p>Many Skin elements can be customized by adding the <code>skin</code> property
        to your <code>tailwind.config.js</code> file. The default configuration is as follows:</p>

    <div class="tc-code tc-code-terminal mb-6">
        <pre><code class="language-js">
                {% filter escape %}
                {% include "src/views/snippets/configuration-skin-default.js" %}
                {% endfilter %}
            </code></pre>
    </div>

    <p>These values are used to define the <a href="theme-variables.html" title="CSS variables">CSS variables</a>
        and <a href="theme-utilities.html" title="utility classes">utility classes</a> used by Skin.</p>

</div>
{% endblock %}