{% extends "src/views/layouts/documentation.html" %}

{% block content %}
<div class="tu-typo">

    <h1 id="application">Application</h1>

    <p>The Skin application is initialized via the
        <a href="start-javascript.html#skin.app.init" title="Skin.app.init">Skin.App.init</a> function.
    </p>

    <p>For the most part, the application makes use of <code>data-*</code> attributes.</p>

    <p>
        The following functionality is available:
    </p>

    <ul class="tc-list mb-6">
        <li><a href="#debug" title="debug">debug</a></li>
        <li><a href="#urltheme" title="urlTheme">urlTheme</a></li>
        <li><a href="#theme" title="theme">theme</a></li>
        <li><a href="#hide" title="hide">hide</a></li>
        <li><a href="#show" title="show">show</a></li>
        <li><a href="#toggle" title="toggle">toggle</a></li>
        <li><a href="#loadsrc" title="loadSrc">loadSrc</a></li>
        <li><a href="#modal" title="modal">modal</a></li>
        <li><a href="#popup" title="popup">popup</a></li>
        <li><a href="#tabs" title="tabs">tabs</a></li>
    </ul>

    <h2 id="debug">debug</h2>

    <p>
        When <code>debug</code> is set to <code>true</code>, errors will output to the console.
        This should not be enabled in production environments.
    </p>

    <h2 id="urltheme">urlTheme</h2>

    <p>
        When <code>urlTheme.enabled</code> is set to <code>true</code>, the theme can be changed using a
        URL query parameter.
    </p>

    <p>
        For example, by adding <code>?theme=dark</code> to the URL, the theme will be set to <code>dark</code>,
        and the preference will be saved in local storage.
        Valid themes are <code>light</code> and <code>dark</code>.
    </p>

    <p>
        The <code>urlTheme.paramName</code> member defines the URL query parameter used to change the theme.
    </p>

    <h2 id="theme">theme</h2>

    <p>
        When <code>theme.enabled</code> is set to <code>true</code>, elements with a <code>data-theme-toggle</code>
        attribute will set the theme to its value when clicked.
    </p>

    <p>
        To see it in action, see the <a href="example-dark-mode.html" title="dark mode example">dark mode example</a>.
    </p>

    <h2 id="hide">hide</h2>

    <p>
        When <code>hide.enabled</code> is set to <code>true</code>, elements with a <code>data-hide</code> attribute
        will hide the element with that ID when clicked.
    </p>

    <p>
        An optional <code>data-hide-duration</code> attribute
        specifies the duration (in minutes) to keep the element hidden. Omitting the <code>data-hide-duration</code>
        attribute or setting it to <code>0</code> will only hide the element for the current page load.
    </p>

    <p>
        In addition, an optional <code>data-hide-transition</code> attribute specifies the
        animation duration (in milliseconds).
    </p>

    <p>Adding the attribute <code>data-hidden="true"</code> to the dismissible element will hide it by default.
        This prevents it from showing before it is hidden by JavaScript.</p>

    <p>
        For an example, see the <a href="skin-toast.html" title="skin-toast component">skin-toast component</a>.
    </p>

    <h2 id="show">show</h2>

    <p>
        When <code>show.enabled</code> is set to <code>true</code>, elements with a <code>data-show</code> attribute
        will show the element with that ID when clicked.
    </p>

    <p>Hidden elements should include the attribute <code>data-hidden="true"</code> to hide by default.</p>

    <p>
        An optional <code>data-show-duration</code> attribute
        specifies the duration (in milliseconds) to show the element. Omitting the <code>data-show-duration</code>
        attribute or setting it to <code>0</code> will show the element for the current page load.
    </p>

    <p>
        In addition, an optional <code>data-show-transition</code> attribute specifies the
        animation duration (in milliseconds).
    </p>

    <p>
        For an example, see the <a href="skin-toast.html" title="skin-toast component">skin-toast component</a>.
    </p>

    <h2 id="toggle">toggle</h2>

    <p>
        When <code>toggle.enabled</code> is set to <code>true</code>, elements with a <code>data-toggle</code>
        attribute will toggle visibility of the element with that ID when clicked.
        An optional <code>data-toggle-transition</code> attribute sets the animation duration in milliseconds
        (250 by default).
    </p>

    <p>
        For an example, see <a href="example-toggle.html" title="example toggle">example toggle</a>.
    </p>


    <h2 id="loadsrc">loadSrc</h2>

    <p>
        When <code>loadSrc.enabled</code> is set to <code>true</code>, all images with a <code>data-load-src</code>
        attribute will have their <code>src</code> replaced by its value.
        This is useful for "lazy loading" larger images to speed up the page load time.
    </p>

    <p>
        For an example, see <a href="example-images.html" title="example images">example images</a>.
    </p>

    <h2 id="modal">modal</h2>

    <p>
        When <code>modal.enabled</code> is set to <code>true</code>, elements with a <code>data-modal-open</code>
        attribute will open the modal with that ID when clicked.
        An optional <code>data-modal-strict</code> attribute specifies whether to open the modal in
        <a href="start-javascript.html#skin.modal.show" title="strict mode">strict mode</a>.
    </p>

    <p>
        In addition, elements with a <code>data-modal-close</code> attribute will close the modal with that ID
        when clicked.
    </p>

    <p>
        For an example, see the <a href="tc-modal.html" title="tc-modal component">tc-modal component</a>.
    </p>

    <h2 id="popup">popup</h2>

    <p>
        When <code>popup.enabled</code> is set to <code>true</code>, elements with a <code>data-popup</code>
        attribute will be used to show a
        <a href="start-javascript.html#skin.popup.show" title="popup">popup</a> with that ID.</p>

    <p>
        An optional <code>data-popup-placement</code> attribute allows customization of the
        <a href="https://floating-ui.com/docs/tutorial#placements" title="placement" target="_blank">placement</a>
        (default of <code>bottom</code>).
    </p>

    <p>
        An optional <code>data-popup-offset</code> attribute allows customization of the <code>mainAxis</code>
        and <code>crossAxis</code> <a href="https://floating-ui.com/docs/offset" title="offset" target="_blank">offset</a>
        (default of <code>0,0</code>).
        <strong>Note:</strong> When the popup is a tooltip, only the <code>mainAxis</code> value will be used.
    </p>

    <p>
        An optional <code>data-popup-unique</code> attribute will force all other popups to hide before showing
        when value equals <code>true</code>.
    </p>

    <p>
        An optional <code>data-popup-trigger</code> attribute allows the popup to show on <code>click</code>,
        <code>hover</code>, or <code>always</code> (default).
    </p>

    <p>
        For an example, see <a href="skin-popup.html" title="skin-popup component">skin-popup component</a>.
    </p>

    <h2 id="tabs">tabs</h2>

    <p>
        When <code>tabs.enabled</code> is set to <code>true</code>, Skin will use elements with
        <code>role=tab</code>, <code>role=tablist</code> and <code>role=tabpanel</code>
        to build interactive tabs.
    </p>

    <p>
        The tabs are fully accessible, and work with the following keyboard interactions:
    </p>

    <table class="tc-table tc-table-border mb-6 w-full overflow-x-auto">
        <thead>
        <tr class="text-left">
            <th>Command</th>
            <th>Description</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><kbd>&larr;</kbd> <kbd>&rarr;</kbd></td>
            <td>Selects the previous/next non-disabled tab</td>
        </tr>

        <tr>
            <td><kbd>Space</kbd> <kbd>Enter</kbd></td>
            <td>Activate the selected tab</td>
        </tr>

        </tbody>
    </table>

    <p>When <code>tabs.updateHash</code> is set to true, the URL hash will update as tabs are shown.
        In addition, tabs can be shown by the URL hash.</p>

    <p>
        For an example, see <a href="example-tabs.html" title="example tabs">example tabs</a>.
    </p>

</div>
{% endblock %}