{% extends "src/views/layouts/documentation.html" %}

{% block content %}
<div class="tu-typo">

    <h1 id="javascript">JavaScript</h1>

    <p>
        Some functionality of Skin is made possible by
        <a href="start-installation.html" title="Installation">including the JavaScript file</a>.
        This will bind <code>Skin</code> to the window, making all functions available globally.
    </p>

    <p>This file is written in vanilla JavaScript, so it all works out-of-the-box!</p>

    <p>
        The following functions are available:
    </p>

    <ul class="tc-list mb-6">
        <li><a href="#skin.app.init" title="Skin.App.init">Skin.App.init</a></li>
        <li><a href="#skin.app.gettheme" title="Skin.App.getTheme">Skin.App.getTheme</a></li>
        <li><a href="#skin.app.settheme" title="Skin.App.setTheme">Skin.App.setTheme</a></li>
        <li><a href="#skin.form.getpromise" title="Skin.Form.getPromise">Skin.Form.getPromise</a></li>
        <li><a href="#skin.modal.show" title="Skin.Modal.show">Skin.Modal.show</a></li>
        <li><a href="#skin.modal.hide" title="Skin.Modal.hide">Skin.Modal.hide</a></li>
        <li><a href="#skin.popup.show" title="Skin.Popup.show">Skin.Popup.show</a></li>
        <li><a href="#skin.popup.isvisible" title="Skin.Popup.isVisible">Skin.Popup.isVisible</a></li>
        <li><a href="#skin.popup.hide" title="Skin.Popup.hide">Skin.Popup.hide</a></li>
        <li><a href="#skin.popup.hideallvisible" title="Skin.Popup.hideAllVisible">Skin.Popup.hideAllVisible</a></li>
        <li><a href="#skin.toast.create" title="Skin.Toast.create">Skin.Toast.create</a></li>
        <li><a href="#skin.visibility.hide" title="Skin.Visibility.hide">Skin.Visibility.hide</a></li>
        <li><a href="#skin.visibility.show" title="Skin.Visibility.show">Skin.Visibility.show</a></li>
        <li><a href="#skin.visibility.showthenhide" title="Skin.Visibility.showThenHide">Skin.Visibility.showThenHide</a></li>
        <li><a href="#skin.visibility.toggle" title="Skin.Visibility.toggle">Skin.Visibility.toggle</a></li>
    </ul>

    <h2 id="skin.app.init">Skin.App.init</h2>

    <p>Initialize the Skin application.</p>

    <p><strong>Parameters:</strong></p>

    <ul class="tc-list mb-6">
        <li><code>config = {}</code> - Object</li>
    </ul>

    <p>
        Any configuration values passed in the <code>config</code> object will override the default values.
        The default configuration is as follows:
    </p>

    <div class="tc-code tc-code-terminal mb-6">
        <pre><code class="language-js">
                {% filter escape %}
                {% include "src/views/snippets/javascript-init-default.js" %}
                {% endfilter %}
            </code></pre>
    </div>

    <p>For more information on the application's functionality,
        see <a href="start-app.html" title="application">application</a>.</p>

    <h2 id="skin.app.gettheme">Skin.App.getTheme</h2>

    <p>Get current theme (light/dark).</p>

    <h2 id="skin.app.settheme">Skin.App.setTheme</h2>

    <p>Set theme and optionally save to local storage.</p>

    <p><strong>Parameters:</strong></p>

    <ul class="tc-list mb-6">
        <li><code>theme</code></li>
        <li><code>save = false</code></li>
    </ul>

    <h2 id="skin.form.getpromise">Skin.Form.getPromise</h2>

    <p>Return a <code>Promise</code> object for an expected JSON response from <code>fetch()</code>
        using the action, method and data of a form.</p>

    <p><strong>Parameters:</strong></p>

    <ul class="tc-list mb-6">
        <li><code>formEl</code> - Form element</li>
        <li><code>config = {}</code> - Object</li>
    </ul>

    <p>Valid <code>config</code> object properties are <code>data</code> and <code>headers</code>.
    The <code>data</code> property can be an object whose key/value pairs will be added to the form data.
    The <code>headers</code> property can be an object whose key/value pairs will be added to the request headers.</p>

    <p>The <code>fetch</code> request will be sent with the header <code>Accept: application/json</code> by default.</p>

    <p>For an example, see <a href="example-forms.html" title="example forms">example forms</a>.</p>

    <h2 id="skin.modal.show">Skin.Modal.show</h2>

    <p>Show a <a href="tc-modal.html" title="modal component">modal component</a>.</p>

    <p><strong>Parameters:</strong></p>

    <ul class="tc-list mb-6">
        <li><code>id</code> - ID of modal to show</li>
        <li><code>config = {}</code> - Object</li>
    </ul>

    <p>Any configuration values passed in the <code>config</code> object will override the default values.
        The default configuration is as follows:</p>

    <div class="tc-code tc-code-terminal mb-6">
        <pre><code class="language-js">
                {% filter escape %}
                {% include "src/views/snippets/javascript-modal.js" %}
                {% endfilter %}
            </code></pre>
    </div>

    <p>
        When <code>strict</code> is set to <code>true</code>, the modal will be shown in strict mode,
        which prevents it from being closed by clicking the overlay or pressing the <kbd>esc</kbd> key.
    </p>

    <h2 id="skin.modal.hide">Skin.Modal.hide</h2>

    <p>Hide a <a href="tc-modal.html" title="modal component">modal component</a>.</p>

    <p><strong>Parameters:</strong></p>

    <ul class="tc-list mb-6">
        <li><code>id</code> - ID of modal to hide</li>
    </ul>

    <h2 id="skin.popup.show">Skin.Popup.show</h2>

    <p>Show a <a href="skin-popup.html" title="popup component">popup component</a>. Under the hood,
        the <a href="https://floating-ui.com/docs/tutorial" title="Floating UI" target="_blank">Floating UI</a>
        library is used.</p>

    <p><strong>Parameters:</strong></p>

    <ul class="tc-list mb-6">
        <li><code>referenceEl</code> - Reference element (trigger)</li>
        <li><code>floatingEl</code> - Floating element (popup)</li>
        <li><code>config = {}</code> - Configuration object</li>
    </ul>

    <p>
        Any configuration values passed in the <code>config</code> object will override the default values.
        The default configuration is as follows:
    </p>

    <div class="tc-code tc-code-terminal mb-6">
        <pre><code class="language-js">
                {% filter escape %}
                {% include "src/views/snippets/javascript-popup.js" %}
                {% endfilter %}
            </code></pre>
    </div>

    <p><strong>Note:</strong> When the popup is a tooltip, only the <code>mainAxis</code> offset will be used.</p>

    <p>For more information on these configuration values, see
        <a href="https://floating-ui.com/docs/tutorial" title="Floating UI" target="_blank">Floating UI</a>.</p>

    <p><strong>Event:</strong></p>

    <p>When shown, the <code>floatingEl</code> element dispatches a <code>popupShow</code> event which contains
    the following detail properties:</p>

    <ul class="tc-list mb-6">
        <li><code>referenceEl</code> - Reference element (trigger)</li>
        <li><code>config = {}</code> - Configuration object</li>
    </ul>

    <p>Example:</p>

    <div class="tc-code tc-code-terminal mb-6">
        <pre><code class="language-js">
                {% filter escape %}
                {% include "src/views/snippets/javascript-popup-show.js" %}
                {% endfilter %}
            </code></pre>
    </div>

    <h2 id="skin.popup.isvisible">Skin.Popup.isVisible</h2>

    <p>Is popup visible? Returns <code>boolean</code> value (true/false).</p>

    <p><strong>Parameters:</strong></p>

    <ul class="tc-list mb-6">
        <li><code>el</code> - Floating element (popup)</li>
    </ul>

    <h2 id="skin.popup.hide">Skin.Popup.hide</h2>

    <p>Hide a <a href="skin-popup.html" title="popup component">popup component</a>.</p>

    <p><strong>Parameters:</strong></p>

    <ul class="tc-list mb-6">
        <li><code>el</code> - Floating element (popup)</li>
    </ul>

    <p><strong>Event:</strong></p>

    <p>When hidden, the <code>el</code> element dispatches a <code>popupHide</code> event.</p>

    <p>Example:</p>

    <div class="tc-code tc-code-terminal mb-6">
        <pre><code class="language-js">
                {% filter escape %}
                {% include "src/views/snippets/javascript-popup-hide.js" %}
                {% endfilter %}
            </code></pre>
    </div>

    <h2 id="skin.popup.hideallvisible">Skin.Popup.hideAllVisible</h2>

    <p>Hide all visible <a href="skin-popup.html" title="popup components">popup components</a>.</p>

    <h2 id="skin.toast.create">Skin.Toast.create</h2>

    <p>Create and show a <a href="tc-toast.html" title="toast component">toast component</a>.</p>

    <p><strong>Parameters:</strong></p>

    <ul class="tc-list mb-6">
        <li><code>config = {}</code> - Object</li>
    </ul>

    <p>Any configuration values passed in the <code>config</code> object will override the default values.
        The default configuration is as follows:</p>

    <div class="tc-code tc-code-terminal mb-6">
        <pre><code class="language-js">
                {% filter escape %}
                {% include "src/views/snippets/javascript-toast.js" %}
                {% endfilter %}
            </code></pre>
    </div>

    <p>
        <code>aria-</code> attributes can be added with the optional <code>aria</code> property.
        <code>data-</code> attributes can be added with the optional <code>data</code> property.
    </p>

    <p>
        For an example, see the <a href="tc-toast.html" title="tc-toast component">tc-toast component</a>.
    </p>

    <h2 id="skin.visibility.hide">Skin.Visibility.hide</h2>

    <p>Hide element with a given animation duration.</p>

    <p><strong>Parameters:</strong></p>

    <ul class="tc-list mb-6">
        <li><code>el</code> - Element to hide</li>
        <li><code>duration = 250</code> - Animation duration in milliseconds</li>
    </ul>

    <h2 id="skin.visibility.show">Skin.Visibility.show</h2>

    <p>Show element with a given animation duration.</p>

    <p><strong>Parameters:</strong></p>

    <ul class="tc-list mb-6">
        <li><code>el</code> - Element to show</li>
        <li><code>duration = 250</code> - Animation duration in milliseconds</li>
    </ul>

    <h2 id="skin.visibility.showthenhide">Skin.Visibility.showThenHide</h2>

    <p>Show element for an amount of time with a given animation duration.</p>

    <p><strong>Parameters:</strong></p>

    <ul class="tc-list mb-6">
        <li><code>el</code> - Element to show</li>
        <li><code>hideAfter = 3000</code> - Hide after duration in milliseconds</li>
        <li><code>duration = 250</code> - Animation duration in milliseconds</li>
    </ul>

    <h2 id="skin.visibility.toggle">Skin.Visibility.toggle</h2>

    <p>Toggle element visibility with a given animation duration.</p>

    <p><strong>Parameters:</strong></p>

    <ul class="tc-list mb-6">
        <li><code>el</code> - Element to toggle</li>
        <li><code>duration = 250</code> - Animation duration in milliseconds</li>
    </ul>

</div>
{% endblock %}