{% extends "src/views/layouts/documentation.html" %}

{% block content %}
<div class="tu-typo">

    <h1>{{ title }}</h1>

    <table class="tc-table tc-table-border mb-6 w-full overflow-x-auto">
        <thead>
        <tr class="text-left">
            <th>Class name</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><code>tc-btn</code></td>
            <td>Component</td>
            <td>Button</td>
        </tr>
        <tr>
            <td><code>tc-btn-row</code></td>
            <td>Component</td>
            <td>Child buttons are grouped together in a row</td>
        </tr>
        <tr>
            <td><code>tc-btn-col</code></td>
            <td>Component</td>
            <td>Child buttons are grouped together in a column</td>
        </tr>
        </tbody>
    </table>

    <p>When using the <code>tc-btn</code> class on anything other than a <code>button</code> or <code>input</code>,
        add a <code>role="button"</code> to convey the purpose. For example:</p>

</div>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-btn-role-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="tc-btn-role-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-btn-role-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="tc-btn-role-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="tc-btn-role-panel-1" role="tabpanel" tabindex="0" aria-labelledby="tc-btn-role-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/tc-btn-role.html" %}
        </div>

    </div> <!-- /#tc-btn-role-panel-1 -->

    <div id="tc-btn-role-panel-2" role="tabpanel" tabindex="0" aria-labelledby="tc-btn-role-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
            <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/tc-btn-role.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#tc-btn-role-panel-2 -->

</div> <!-- / tab container -->

<h2 class="tu-typo-apply">Examples</h2>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-btn-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="tc-btn-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-btn-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="tc-btn-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="tc-btn-panel-1" role="tabpanel" tabindex="0" aria-labelledby="tc-btn-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/tc-btn.html" %}
        </div>

    </div> <!-- /#tc-btn-panel-1 -->

    <div id="tc-btn-panel-2" role="tabpanel" tabindex="0" aria-labelledby="tc-btn-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
            <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/tc-btn.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#tc-btn-panel-2 -->

</div> <!-- / tab container -->

<h3 class="tu-typo-apply">Group as row and column</h3>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-btn-group-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="tc-btn-group-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-btn-group-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="tc-btn-group-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="tc-btn-group-panel-1" role="tabpanel" tabindex="0" aria-labelledby="tc-btn-group-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/tc-btn-group.html" %}
        </div>

    </div> <!-- /#tc-btn-group-panel-1 -->

    <div id="tc-btn-group-panel-2" role="tabpanel" tabindex="0" aria-labelledby="tc-btn-group-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
            <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/tc-btn-group.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#tc-btn-group-panel-2 -->

</div> <!-- / tab container -->

<h3 class="tu-typo-apply">Badge inside a button</h3>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-btn-badge-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="tc-btn-badge-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-btn-badge-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="tc-btn-badge-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="tc-btn-badge-panel-1" role="tabpanel" tabindex="0" aria-labelledby="tc-btn-badge-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/tc-btn-badge.html" %}
        </div>

    </div> <!-- /#tc-btn-badge-panel-1 -->

    <div id="tc-btn-badge-panel-2" role="tabpanel" tabindex="0" aria-labelledby="tc-btn-badge-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
            <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/tc-btn-badge.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#tc-btn-badge-panel-2 -->

</div> <!-- / tab container -->
{% endblock %}