{% extends "src/views/layouts/documentation.html" %}

{% block content %}
<div class="tu-typo">

    <h1>{{ title }}</h1>

    <table class="tc-table tc-table-border mb-6 w-full overflow-x-auto">
        <thead>
        <tr class="text-left">
            <th>Class name</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><code>tc-badge</code></td>
            <td>Component</td>
            <td>Badge</td>
        </tr>
        <tr>
            <td><code>tc-badge-pill</code></td>
            <td>Utility</td>
            <td>Pill shape badge</td>
        </tr>
        </tbody>
    </table>

    <h2>Examples</h2>

    <p>
        For an example of a badge inside a button, see the
        <a href="tc-btn.html" title="button component">button component</a>.
    </p>

    <h3>tc-badge</h3>

</div>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-badge-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="tc-badge-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-badge-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="tc-badge-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="tc-badge-panel-1" role="tabpanel" tabindex="0" aria-labelledby="tc-badge-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/tc-badge.html" %}
        </div>

    </div> <!-- /#tc-badge-panel-1 -->

    <div id="tc-badge-panel-2" role="tabpanel" tabindex="0" aria-labelledby="tc-badge-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
            <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/tc-badge.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#tc-badge-panel-2 -->

</div> <!-- / tab container -->

<h3 class="tu-typo-apply">tc-badge-pill</h3>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-badge-pill-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="tc-badge-pill-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-badge-pill-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="tc-badge-pill-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="tc-badge-pill-panel-1" role="tabpanel" tabindex="0" aria-labelledby="tc-badge-pill-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/tc-badge-pill.html" %}
        </div>

    </div> <!-- /#tc-badge-pill-panel-1 -->

    <div id="tc-badge-pill-panel-2" role="tabpanel" tabindex="0" aria-labelledby="tc-badge-pill-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
            <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/tc-badge-pill.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#tc-badge-pill-panel-2 -->

</div> <!-- / tab container -->

<div class="tu-typo">

    <h3 id="web-component">Web component</h3>

    <p>Badges are available to be used as a web component. Any <code>tc-badge-*</code> utility class can be applied.</p>

    <p>Attributes:</p>

    <ul class="tc-list mb-6">
        <li><code>data-icon</code>: Any valid <a href="icon.html" title="skin-icon">skin-icon</a> name (optional)</li>
    </ul>

</div>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="web-component-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="web-component-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="web-component-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="web-component-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="web-component-panel-1" role="tabpanel" tabindex="0" aria-labelledby="web-component-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/skin-badge.html" %}
        </div>

    </div> <!-- /#web-component-panel-1 -->

    <div id="web-component-panel-2" role="tabpanel" tabindex="0" aria-labelledby="web-component-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
             <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/skin-badge.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#web-component-panel-2 -->

</div> <!-- / tab container -->
{% endblock %}