{% extends "src/views/layouts/documentation.html" %}

{% block content %}
<div class="tu-typo">

    <h1>{{ title }}</h1>

    <table class="tc-table tc-table-border mb-6 w-full overflow-x-auto">
        <thead>
        <tr class="text-left">
            <th>Class name</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><code>tc-form-group</code></td>
            <td>Component</td>
            <td>Input group wrapper</td>
        </tr>
        <tr>
            <td><code>tc-form-group-text</code></td>
            <td>Component</td>
            <td>Input group text</td>
        </tr>
        <tr>
            <td><code>tc-form-label</code></td>
            <td>Component</td>
            <td>Form <code>label</code> element</td>
        </tr>
        <tr>
            <td><code>tc-form-input</code></td>
            <td>Component</td>
            <td>Any non-specific <code>input</code> element</td>
        </tr>
        <tr>
            <td><code>tc-form-file</code></td>
            <td>Component</td>
            <td>Form <code>file</code> input</td>
        </tr>
        <tr>
            <td><code>tc-form-textarea</code></td>
            <td>Component</td>
            <td>Form <code>textarea</code> element</td>
        </tr>
        <tr>
            <td><code>tc-form-select</code></td>
            <td>Component</td>
            <td>Form <code>select</code> element</td>
        </tr>
        <tr>
            <td><code>tc-form-checkbox</code></td>
            <td>Component</td>
            <td>Form <code>checkbox</code> input</td>
        </tr>
        <tr>
            <td><code>tc-form-radio</code></td>
            <td>Component</td>
            <td>Form <code>radio</code> input</td>
        </tr>
        <tr>
            <td><code>tc-form-toggle-label</code></td>
            <td>Component</td>
            <td>Toggle component wrapper</td>
        </tr>
        <tr>
            <td><code>tc-form-toggle-text</code></td>
            <td>Component</td>
            <td>Toggle component text</td>
        </tr>
        <tr>
            <td><code>tc-form-toggle</code></td>
            <td>Component</td>
            <td>Toggle component</td>
        </tr>
        <tr>
            <td><code>tc-form-toggle-sm</code></td>
            <td>Utility</td>
            <td>Small toggle component</td>
        </tr>
        <tr>
            <td><code>tc-form-status-info</code></td>
            <td>Utility</td>
            <td>Styled form element</td>
        </tr>
        <tr>
            <td><code>tc-form-status-warning</code></td>
            <td>Utility</td>
            <td>Styled form element</td>
        </tr>
        <tr>
            <td><code>tc-form-status-error</code></td>
            <td>Utility</td>
            <td>Styled form element</td>
        </tr>
        <tr>
            <td><code>tc-form-status-success</code></td>
            <td>Utility</td>
            <td>Styled form element</td>
        </tr>
        </tbody>
    </table>

</div>

<h2 class="tu-typo-apply">Input types</h2>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-form-input-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="tc-form-input-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-form-input-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="tc-form-input-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="tc-form-input-panel-1" role="tabpanel" tabindex="0" aria-labelledby="tc-form-input-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/tc-form-input.html" %}
        </div>

    </div> <!-- /#tc-form-input-panel-1 -->

    <div id="tc-form-input-panel-2" role="tabpanel" tabindex="0" aria-labelledby="tc-form-input-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
             <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/tc-form-input.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#tc-form-input-panel-2 -->

</div> <!-- / tab container -->

<h2 class="tu-typo-apply">Input group</h2>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-form-input-group-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="tc-form-input-group-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-form-input-group-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="tc-form-input-group-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="tc-form-input-group-panel-1" role="tabpanel" tabindex="0" aria-labelledby="tc-form-input-group-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/tc-form-input-group.html" %}
        </div>

    </div> <!-- /#tc-form-input-group-panel-1 -->

    <div id="tc-form-input-group-panel-2" role="tabpanel" tabindex="0" aria-labelledby="tc-form-input-group-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
             <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/tc-form-input-group.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#tc-form-input-group-panel-2 -->

</div> <!-- / tab container -->

<h2 class="tu-typo-apply">Input variations</h2>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-form-variations-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="tc-form-variations-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-form-variations-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="tc-form-variations-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="tc-form-variations-panel-1" role="tabpanel" tabindex="0" aria-labelledby="tc-form-variations-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/tc-form-variations.html" %}
        </div>

    </div> <!-- /#tc-form-variations-panel-1 -->

    <div id="tc-form-variations-panel-2" role="tabpanel" tabindex="0" aria-labelledby="tc-form-variations-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
             <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/tc-form-variations.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#tc-form-variations-panel-2 -->

</div> <!-- / tab container -->

<h2 class="tu-typo-apply">Select</h2>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-form-select-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="tc-form-select-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-form-select-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="tc-form-select-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="tc-form-select-panel-1" role="tabpanel" tabindex="0" aria-labelledby="tc-form-select-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/tc-form-select.html" %}
        </div>

    </div> <!-- /#tc-form-select-panel-1 -->

    <div id="tc-form-select-panel-2" role="tabpanel" tabindex="0" aria-labelledby="tc-form-select-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
             <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/tc-form-select.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#tc-form-select-panel-2 -->

</div> <!-- / tab container -->

<h2 class="tu-typo-apply">Checkbox</h2>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-form-checkbox-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="tc-form-checkbox-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-form-checkbox-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="tc-form-checkbox-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="tc-form-checkbox-panel-1" role="tabpanel" tabindex="0" aria-labelledby="tc-form-checkbox-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/tc-form-checkbox.html" %}
        </div>

    </div> <!-- /#tc-form-checkbox-panel-1 -->

    <div id="tc-form-checkbox-panel-2" role="tabpanel" tabindex="0" aria-labelledby="tc-form-checkbox-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
             <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/tc-form-checkbox.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#tc-form-checkbox-panel-2 -->

</div> <!-- / tab container -->

<h2 class="tu-typo-apply">Radio</h2>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-form-radio-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="tc-form-radio-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-form-radio-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="tc-form-radio-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="tc-form-radio-panel-1" role="tabpanel" tabindex="0" aria-labelledby="tc-form-radio-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/tc-form-radio.html" %}
        </div>

    </div> <!-- /#tc-form-checkbox-panel-1 -->

    <div id="tc-form-radio-panel-2" role="tabpanel" tabindex="0" aria-labelledby="tc-form-radio-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
             <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/tc-form-radio.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#tc-form-radio-panel-2 -->

</div> <!-- / tab container -->
{% endblock %}