{% extends "src/views/layouts/documentation.html" %}

{% block content %}
<div class="tu-typo">

    <h1>{{ title }}</h1>

    <table class="tc-table tc-table-border mb-6 w-full overflow-x-auto">
        <thead>
        <tr class="text-left">
            <th>Class name</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><code>tc-popper</code></td>
            <td>Component</td>
            <td>Popper component</td>
        </tr>
        <tr>
            <td><code>[data-popper-arrow]</code></td>
            <td>Component</td>
            <td>Popper arrow component</td>
        </tr>
        </tbody>
    </table>

    <h2 id="create">Creating a Popper</h2>

    <p>
        Use the <a href="start-javascript.html#config-popper">data-popper</a> attributes to create a trigger to
        hide/show the Popper component. Then, style the component using the class names listed above.
    </p>

    <h2>Examples</h2>

</div>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-popper-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="tc-popper-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-popper-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="tc-popper-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="tc-popper-panel-1" role="tabpanel" tabindex="0" aria-labelledby="tc-popper-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/tc-popper.html" %}
        </div>

    </div> <!-- /#tc-popper-panel-1 -->

    <div id="tc-popper-panel-2" role="tabpanel" tabindex="0" aria-labelledby="tc-popper-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
            <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/tc-popper.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#tc-popper-panel-2 -->

</div> <!-- / tab container -->
{% endblock %}