{% extends "src/views/layouts/documentation.html" %}

{% block content %}
<div class="tu-typo">

    <h1>{{ title }}</h1>

    <table class="tc-table tc-table-border mb-6 w-full overflow-x-auto">
        <thead>
        <tr class="text-left">
            <th>Class name</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><code>tc-style-*</code></td>
            <td>Component</td>
            <td>Styled component (see examples)</td>
        </tr>
        </tbody>
    </table>

    <p>Styles utilize a combination of background, border and text colors.
        Because they exist on the <code>components</code> layer, any aspect can be overridden using utility classes.</p>

    <p><strong>NOTE:</strong> Due to their opacity, <code>tc-style-*-light</code> styles do not work well for
        elements which may overlay others (have a higher <code>z-index</code>), such as toasts.</p>

    <h2>Examples</h2>

</div>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="panel-1" role="tabpanel" tabindex="0" aria-labelledby="tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/tc-style.html" %}
        </div>

    </div> <!-- /#panel-1 -->

    <div id="panel-2" role="tabpanel" tabindex="0" aria-labelledby="tab-2" hidden>

        <div class="tc-code tc-code-terminal">
              <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/tc-style.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#panel-2 -->

</div> <!-- / tab container -->
{% endblock %}