{% extends "src/views/layouts/documentation.html" %}

{% block content %}
<div class="tu-typo">

    <h1>{{ title }}</h1>

    <table class="tc-table tc-table-border mb-6 w-full overflow-x-auto">
        <thead>
        <tr class="text-left">
            <th>Class name</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><code>tc-table</code></td>
            <td>Component</td>
            <td>Table</td>
        </tr>
        <tr>
            <td><code>tc-table-row</code></td>
            <td>Utility</td>
            <td>Bordered rows</td>
        </tr>
        <tr>
            <td><code>tc-table-border</code></td>
            <td>Utility</td>
            <td>Bordered cells</td>
        </tr>
        <tr>
            <td><code>tc-table-zebra</code></td>
            <td>Utility</td>
            <td>Background color on every other row</td>
        </tr>
        <tr>
            <td><code>tc-table-hover</code></td>
            <td>Utility</td>
            <td>Background color on hover</td>
        </tr>
        </tbody>
    </table>

    <h2>Examples</h2>

</div>

<div class="mb-6">

    <div class="inline-block text-xs font-semibold p-1 mb-6 tu-border-width tu-border-radius tu-border-default tu-bg-default"
         role="tablist"
         aria-label="Tabs">

        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-table-tab-1"
                role="tab"
                aria-selected="true"
                aria-controls="tc-table-panel-1"
                tabindex="0">
            Example
        </button>
        <button
                class="tc-btn border-0 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-75 aria-selected:tc-style-primary aria-selected:hover:backdrop-brightness-100"
                id="tc-table-tab-2"
                role="tab"
                aria-selected="false"
                aria-controls="tc-table-panel-2"
                tabindex="-1">
            HTML
        </button>

    </div>

    <div id="tc-table-panel-1" role="tabpanel" tabindex="0" aria-labelledby="tc-table-tab-1">

        <div class="p-4 border tu-border-default tu-border-radius">
            {% include "src/views/snippets/tc-table.html" %}
        </div>

    </div> <!-- /#tc-table-panel-1 -->

    <div id="tc-table-panel-2" role="tabpanel" tabindex="0" aria-labelledby="tc-table-tab-2" hidden>

        <div class="tc-code tc-code-terminal">
            <pre><code class="language-html">
                {% filter escape %}
                {% include "src/views/snippets/tc-table.html" %}
                {% endfilter %}
            </code></pre>
        </div>

    </div> <!-- /#tc-table-panel-2 -->

</div> <!-- / tab container -->
{% endblock %}