{% extends "src/views/layouts/documentation.html" %}

{% block content %}
<div class="tu-typo">

    <h1>Variables</h1>

    <p>
        Variables are set based on the current theme.
        The theme colors can be updated in your
        <a href="start-configuration.html" title="Tailwind config file">Tailwind config file</a>.
    </p>

    <ul class="tc-list mb-6">
        <li><code>--skin-bg-default</code></li>
        <li><code>--skin-bg-content</code></li>
        <li><code>--skin-border-default</code></li>
        <li><code>--skin-text-default</code></li>
        <li><code>--skin-text-light</code></li>
        <li><code>--skin-text-code</code></li>
    </ul>

</div>
{% endblock %}