<!-- Prevent dark mode flicker -->
<script>
    if ('theme' in localStorage) {
        try {
            let theme = JSON.parse(localStorage.theme);
            if (theme.name === "dark") {
                document.documentElement.classList.add("dark");
            }
        } catch (e) {
            console.error("Unable to set theme (head): invalid localStorage format");
        }
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.classList.add("dark");
    }
</script>