<!-- Local -->
<script src="./path/to/skin.min.js"></script>

<!-- unpkg -->
<script src="https://www.unpkg.com/@bayfrontmedia/skin@1.1.0/dist/skin.min.js"></script>

<!-- jsDelivr -->
<script src="https://cdn.jsdelivr.net/npm/@bayfrontmedia/skin@1.1.0/dist/skin.min.js"></script>

<!-- Using a bundler such as Webpack -->
import '@bayfrontmedia/skin/dist/skin.min';

<!-- Once the JavaScript is included, initialize Skin's features: -->
<script>
    window.addEventListener("load", () => {
        Skin.App.init();
    });
</script>