<div class="flex text-sm">

    <!-- Default -->
    <skin-badge
            class="tc-style-default">
        Default
    </skin-badge>

    <!-- Default -->
    <skin-badge
            class="tc-badge-pill tc-style-default"
            data-icon="tag">
        Default with tag
    </skin-badge>

    <!-- Info -->
    <skin-badge
            class="tc-style-info-light">
        Info light
    </skin-badge>

    <!-- Inverse -->
    <skin-badge
            class="tc-style-inverse"
            data-icon="clock"
            data-style="pill">
        2 minutes ago
    </skin-badge>

    <!-- Numeric -->
    <skin-badge
            class="tc-style-success-light"
            data-style="pill">
        5
    </skin-badge>

</div>