<!-- Default -->
<skin-alert id="skin-alert-default" class="tc-style-default mb-6" data-msg="This is an alert" data-icon="megaphone" data-dismiss-duration="0"></skin-alert>

<!-- Info -->
<skin-alert class="tc-style-info-light mb-6" data-msg="This is an informational alert" data-icon="information-circle"></skin-alert>

<!-- Warning -->
<skin-alert class="tc-style-warning-light mb-6" data-msg="This is a warning alert" data-icon="exclamation-triangle"></skin-alert>

<!-- Error -->
<skin-alert class="tc-style-error-light mb-6" data-msg="This is an error alert" data-icon="x-circle"></skin-alert>

<!-- Success -->
<skin-alert class="tc-style-success-light mb-6" data-msg="This is a success alert" data-icon="check-circle"></skin-alert>