<!-- Default -->
<skin-alert id="skin-alert-default" class="tc-alert-alt tc-style-default mb-6" data-icon="megaphone" data-dismiss-duration="0">
    This is an alert with <code>tc-alert-alt</code> class applied
</skin-alert>

<!-- Info -->
<skin-alert class="tc-style-info-light mb-6" data-icon="information-circle">
    This is an informational alert
</skin-alert>

<!-- Warning -->
<skin-alert class="tc-style-warning-light mb-6" data-icon="exclamation-triangle">
    This is a warning alert
</skin-alert>

<!-- Error -->
<skin-alert class="tc-style-error-light mb-6" data-icon="x-circle">
    This is an error alert
</skin-alert>

<!-- Success -->
<skin-alert class="tc-style-success-light mb-6" data-icon="check-circle">
    This is a success alert
</skin-alert>