<skin-progress class="mb-6">
    <div class="bg-theme-primary w-[40%] font-semibold text-white">40%</div>
</skin-progress>

<skin-progress class="text-xs bg-gray-300 mb-6">
    <div class="bg-theme-primary w-[40%] font-semibold text-white">40%</div>
</skin-progress>

<skin-progress class="mb-6">
    <div class="bg-theme-primary w-1/2 font-semibold text-white">50%</div>
    <div class="bg-theme-secondary w-1/4 font-semibold text-white">25%</div>
</skin-progress>

<skin-progress data-style="pill">
    <div class="bg-theme-primary w-full font-semibold text-white">100%</div>
</skin-progress>