<!-- Unstyled -->
<skin-alert
        class="mb-6"
        data-icon="megaphone">
    This is an unstyled alert
</skin-alert>

<!-- Default -->
<skin-alert
        id="skin-alert-default"
        class="tc-style-default mb-6"
        data-dismiss-duration="0"
        data-icon="megaphone"
        data-style="bl">
    This is an alert with <code>bl</code> style applied
</skin-alert>

<!-- Custom -->
<skin-alert
        class="tu-bg-default border-0 border-theme-primary mb-6"
        data-icon="megaphone"
        data-style="bl">
    This is a custom alert with <code>bl</code> style applied
</skin-alert>

<!-- Info -->
<skin-alert
        class="tc-style-info-light mb-6"
        data-icon="information-circle"
        data-style="bt">
    This is an informational alert with <code>bt</code> style applied
</skin-alert>

<!-- Warning -->
<skin-alert
        class="tc-style-warning-light mb-6"
        data-icon="exclamation-triangle">
    This is a warning alert
</skin-alert>

<!-- Error -->
<skin-alert
        class="tc-style-error-light mb-6"
        data-icon="x-circle">
    This is an error alert
</skin-alert>

<!-- Success -->
<skin-alert
        class="tc-style-success-light"
        data-icon="check-circle">
    This is a success alert
</skin-alert>