<!-- Default -->
<skin-toast id="skin-toast-default" class="tc-style-default mb-6" data-icon="megaphone" data-dismiss-duration="0">This is a toast</skin-toast>

<!-- Info -->
<skin-toast class="tc-style-info-light mb-6" data-icon="information-circle">This is an informational toast</skin-toast>

<!-- Warning -->
<skin-toast class="tc-style-warning-light mb-6" data-icon="exclamation-triangle">This is a warning toast</skin-toast>

<!-- Error -->
<skin-toast class="tc-style-error-light mb-6" data-icon="x-circle">This is an error toast</skin-toast>

<!-- Success -->
<skin-toast class="tc-style-success-light mb-6" data-icon="check-circle">This is a success toast</skin-toast>