<div class="flex text-sm">

    <!-- Default -->
    <skin-badge class="tc-style-default">
        Default badge
    </skin-badge>

    <!-- Info -->
    <skin-badge class="tc-style-info-light">
        2 minutes ago
    </skin-badge>

    <!-- Default -->
    <skin-badge class="tc-badge-pill tc-style-default" data-icon="tag">
        Default badge
    </skin-badge>

    <!-- Info -->
    <skin-badge class="tc-badge-pill tc-style-info-light" data-icon="clock">
        2 minutes ago
    </skin-badge>

</div>