<div class="space-y-2">

    <button type="button" class="tc-btn tc-style-default">tc-style-default</button>
    <button type="button" class="tc-btn tc-style-default-o">tc-style-default-o</button>
    <button type="button" class="tc-btn tc-style-content">tc-style-content</button>
    <button type="button" class="tc-btn tc-style-inverse">tc-style-inverse</button>
    <button type="button" class="tc-btn tc-style-primary">tc-style-primary</button>
    <button type="button" class="tc-btn tc-style-primary-o">tc-style-primary-o</button>
    <button type="button" class="tc-btn tc-style-secondary">tc-style-secondary</button>
    <button type="button" class="tc-btn tc-style-secondary-o">tc-style-secondary-o</button>
    <button type="button" class="tc-btn tc-style-info">tc-style-info</button>
    <button type="button" class="tc-btn tc-style-info-o">tc-style-info-o</button>
    <button type="button" class="tc-btn tc-style-info-light">tc-style-info-light</button>
    <button type="button" class="tc-btn tc-style-warning">tc-style-warning</button>
    <button type="button" class="tc-btn tc-style-warning-o">tc-style-warning-o</button>
    <button type="button" class="tc-btn tc-style-warning-light">tc-style-warning-light</button>
    <button type="button" class="tc-btn tc-style-error">tc-style-error</button>
    <button type="button" class="tc-btn tc-style-error-o">tc-style-error-o</button>
    <button type="button" class="tc-btn tc-style-error-light">tc-style-error-light</button>
    <button type="button" class="tc-btn tc-style-success">tc-style-success</button>
    <button type="button" class="tc-btn tc-style-success-o">tc-style-success-o</button>
    <button type="button" class="tc-btn tc-style-success-light">tc-style-success-light</button>

</div>