<div class="tc-btn-row mb-6">
    <button type="button" class="tc-btn tu-border-default hover:tu-bg-default">First</button>
    <button type="button" class="tc-btn tu-border-default hover:tu-bg-default">Second</button>
    <button type="button" class="tc-btn tu-border-default hover:tu-bg-default">Third</button>
    <button type="button" class="tc-btn tu-border-default hover:tu-bg-default">Fourth</button>
    <button type="button" class="tc-btn tu-border-default hover:tu-bg-default">Fifth</button>
</div>

<div class="tc-btn-col">
    <button type="button" class="tc-btn tu-border-default hover:tu-bg-default">First</button>
    <button type="button" class="tc-btn tu-border-default hover:tu-bg-default">Second</button>
    <button type="button" class="tc-btn tu-border-default hover:tu-bg-default">Third</button>
    <button type="button" class="tc-btn tu-border-default hover:tu-bg-default">Fourth</button>
    <button type="button" class="tc-btn tu-border-default hover:tu-bg-default">Fifth</button>
</div>