<div class="flex gap-2 mb-6">

    <a href="#" title="Button" class="tc-btn tc-style-default" role="button">Button</a>
    <div class="tc-btn tc-style-default" role="button">Button</div>
    <button class="tc-btn tc-style-default">Button</button>
    <input type="submit" class="tc-btn tc-style-default" value="Button">

</div>

<div class="flex gap-2 mb-6">

    <a href="#" title="Button" class="tc-btn tc-btn-sm tc-style-default" role="button">Button</a>
    <div class="tc-btn tc-btn-sm tc-style-default" role="button">Button</div>
    <button class="tc-btn tc-btn-sm tc-style-default">Button</button>
    <input type="submit" class="tc-btn tc-btn-sm tc-style-default" value="Button">

</div>

<div class="flex items-center gap-2">
    <button class="tc-btn tc-style-default" disabled>Disabled button</button>
    <button class="tc-btn tc-btn-sm tc-style-default" disabled>Small disabled button</button>
</div>