<div class="tc-btn-row mb-6">
    <button type="button" class="tc-btn tu-border-default hover:tu-bg-default">Left</button>
    <button type="button" class="tc-btn tu-border-default hover:tu-bg-default">Center</button>
    <button type="button" class="tc-btn tu-border-default hover:tu-bg-default">Right</button>
</div>

<div class="tc-btn-col">
    <button type="button" class="tc-btn tu-border-default hover:tu-bg-default">Top</button>
    <button type="button" class="tc-btn tu-border-default hover:tu-bg-default">Middle</button>
    <button type="button" class="tc-btn tu-border-default hover:tu-bg-default">Bottom</button>
</div>