<!-- .tc-code -->
<div class="tc-code mb-6">
    <pre>
        <code>This is code inside a pre block that spans multiple lines</code>
    </pre>
</div>

<!-- .tc-code-alt -->
<div class="tc-code tc-code-alt mb-6">
    <pre>
        <code>This is code inside a pre block that spans multiple lines</code>
    </pre>
</div>

<!-- .tc-code-terminal -->
<div class="tc-code tc-code-terminal mb-6">
    <pre>
        <code>This is code inside a pre block that spans multiple lines</code>
    </pre>
</div>

<!-- .tc-code-circles -->
<div class="tc-code mb-6">
    <span class="tc-code-circles"></span>
    <pre>
        <code>This is code inside a pre block that spans multiple lines</code>
    </pre>
</div>

<div class="tc-code tc-code-terminal">
    <span class="tc-code-circles"></span>
    <pre>
        <code>This is code inside a pre block that spans multiple lines</code>
    </pre>
</div>