<!-- Group (left) -->

<label class="tc-form-label mb-1 text-sm font-medium" for="form-group-l">Group (left)</label>

<div class="tc-form-group mb-6">

    <span class="tc-form-group-text">https://</span>
    <input type="text" id="form-group-l" name="form-group-l" class="tc-form-input" placeholder="Group (left)">

</div>

<!-- Group (right) -->

<label class="tc-form-label mb-1 text-sm font-medium" for="form-group-r">Group (right)</label>

<div class="tc-form-group mb-6">

    <input type="text" id="form-group-r" name="form-group-r" class="tc-form-input" placeholder="Group (right)">
    <span class="tc-form-group-text">.00</span>

</div>

<!-- Group (left+right) -->

<label class="tc-form-label mb-1 text-sm font-medium" for="form-group-lr">Group (left+right)</label>

<div class="tc-form-group">

    <span class="tc-form-group-text">$</span>
    <input type="text" id="form-group-lr" name="form-group-lr" class="tc-form-input" placeholder="Group (left+right)">
    <span class="tc-form-group-text">.00</span>

</div>