<p class="mb-4 font-semibold">Toggle</p>

<!-- Toggle -->
<div class="mb-6">
    <label for="toggle-example" class="tc-form-toggle-label">
        <input type="checkbox" id="toggle-example" name="toggle-example" value="true" class="peer">
        <span class="peer tc-form-toggle"></span>
        <span class="tc-form-toggle-text">Toggle default</span>
    </label>
</div>

<!-- Small toggle -->
<div class="mb-6">
    <label for="toggle-example2" class="tc-form-toggle-label">
        <input type="checkbox" id="toggle-example2" name="toggle-example" value="true" class="peer">
        <span class="peer tc-form-toggle-sm"></span>
        <span class="tc-form-toggle-text">Toggle small</span>
    </label>
</div>

<p class="mb-4 font-semibold">Vertical</p>

<!-- Vertical -->
<div class="mb-6">

    <div class="flex items-center mb-6">
        <input type="checkbox" id="checkbox-1" name="checkbox-vertical" class="tc-form-checkbox">
        <label class="tc-form-label ml-2" for="checkbox-1">Checkbox 1</label>
    </div>

    <div class="flex items-center mb-6">
        <input type="checkbox" id="checkbox-2" name="checkbox-vertical" class="tc-form-checkbox">
        <label class="tc-form-label ml-2" for="checkbox-2">Checkbox 2</label>
    </div>

    <div class="flex items-center mb-6">
        <input type="checkbox" id="checkbox-3" name="checkbox-vertical" class="tc-form-checkbox">
        <label class="tc-form-label ml-2" for="checkbox-3">Checkbox 3</label>
    </div>

</div>

<p class="mb-4 font-semibold">Horizontal</p>

<!-- Horizontal -->
<div class="flex flex-wrap items-center gap-6">

    <div class="flex items-center">
        <input type="checkbox" id="checkbox-4" name="checkbox-horizontal" class="tc-form-checkbox">
        <label class="tc-form-label ml-2" for="checkbox-4">Checkbox 4</label>
    </div>

    <div class="flex items-center">
        <input type="checkbox" id="checkbox-5" name="checkbox-horizontal" class="tc-form-checkbox">
        <label class="tc-form-label ml-2" for="checkbox-5">Checkbox 5</label>
    </div>

    <div class="flex items-center">
        <input type="checkbox" id="checkbox-6" name="checkbox-horizontal" class="tc-form-checkbox">
        <label class="tc-form-label ml-2" for="checkbox-6">Checkbox 6</label>
    </div>

</div>