<!-- Horizontal -->
<div class="mb-6">

    <input type="radio" id="radio-1" name="radio-a" class="tc-form-radio" value="input-radio-1">
    <label class="tc-form-label" for="radio-1">Radio 1</label>

    <input type="radio" id="radio-2" name="radio-a" class="tc-form-radio ml-2" value="input-radio-2">
    <label class="tc-form-label" for="radio-2">Radio 2</label>

    <input type="radio" id="radio-3" name="radio-a" class="tc-form-radio ml-2" value="input-radio-3">
    <label class="tc-form-label" for="radio-3">Radio 3</label>

</div>

<!-- Vertical -->
<div>

    <div class="mb-2">
        <input type="radio" id="radio-4" name="radio-b" class="tc-form-radio" value="input-radio-4">
        <label class="tc-form-label" for="radio-4">Radio 4</label>
    </div>

    <div class="mb-2">
        <input type="radio" id="radio-5" name="radio-b" class="tc-form-radio" value="input-radio-5">
        <label class="tc-form-label" for="radio-5">Radio 5</label>
    </div>

    <div>
        <input type="radio" id="radio-6" name="radio-b" class="tc-form-radio" value="input-radio-6">
        <label class="tc-form-label" for="radio-6">Radio 6</label>
    </div>

</div>