<!-- Toggle -->
<div class="mb-6">
    <label for="toggle-example" class="tc-form-toggle-label">
        <input type="checkbox" id="toggle-example" name="toggle-example" value="true" class="peer">
        <span class="peer tc-form-toggle"></span>
        <span class="tc-form-toggle-text">Toggle default</span>
    </label>
</div>

<!-- Small toggle -->
<div class="mb-6">
    <label for="toggle-sm-example" class="tc-form-toggle-label">
        <input type="checkbox" id="toggle-sm-example" name="toggle-sm-example" value="true" class="peer">
        <span class="peer tc-form-toggle tc-form-toggle-sm"></span>
        <span class="tc-form-toggle-text">Toggle small</span>
    </label>
</div>

<!-- Horizontal -->
<div class="mb-6">

    <input type="checkbox" id="checkbox-1" name="checkbox-a" class="tc-form-checkbox">
    <label class="tc-form-label" for="checkbox-1">Checkbox 1</label>

    <input type="checkbox" id="checkbox-2" name="checkbox-a" class="tc-form-checkbox ml-2">
    <label class="tc-form-label" for="checkbox-2">Checkbox 2</label>

    <input type="checkbox" id="checkbox-3" name="checkbox-a" class="tc-form-checkbox ml-2">
    <label class="tc-form-label" for="checkbox-3">Checkbox 3</label>

</div>

<!-- Vertical -->
<div>

    <div class="mb-2">
        <input type="checkbox" id="checkbox-4" name="checkbox-b" class="tc-form-checkbox">
        <label class="tc-form-label" for="checkbox-4">Checkbox 4</label>
    </div>

    <div class="mb-2">
        <input type="checkbox" id="checkbox-5" name="checkbox-b" class="tc-form-checkbox">
        <label class="tc-form-label" for="checkbox-5">Checkbox 5</label>
    </div>

    <div>
        <input type="checkbox" id="checkbox-6" name="checkbox-b" class="tc-form-checkbox">
        <label class="tc-form-label" for="checkbox-6">Checkbox 6</label>
    </div>

</div>