<p class="mb-4 font-semibold">Vertical</p>

<!-- Vertical -->
<div class="mb-6">

    <div class="flex items-center mb-6">
        <input type="radio" id="radio-1" name="radio-vertical" class="tc-form-radio" value="input-radio-1">
        <label class="tc-form-label ml-2" for="radio-1">Radio 1</label>
    </div>

    <div class="flex items-center mb-6">
        <input type="radio" id="radio-2" name="radio-vertical" class="tc-form-radio" value="input-radio-2">
        <label class="tc-form-label ml-2" for="radio-2">Radio 1</label>
    </div>

    <div class="flex items-center mb-6">
        <input type="radio" id="radio-3" name="radio-vertical" class="tc-form-radio" value="input-radio-3">
        <label class="tc-form-label ml-2" for="radio-3">Radio 1</label>
    </div>

</div>

<p class="mb-4 font-semibold">Horizontal</p>

<!-- Horizontal -->
<div class="mb-6">

    <div class="flex flex-wrap items-center gap-6">

        <div class="flex items-center">
            <input type="radio" id="radio-4" name="radio-horizontal" class="tc-form-radio" value="input-radio-4">
            <label class="tc-form-label ml-2" for="radio-4">Radio 4</label>
        </div>

        <div class="flex items-center">
            <input type="radio" id="radio-5" name="radio-horizontal" class="tc-form-radio" value="input-radio-5">
            <label class="tc-form-label ml-2" for="radio-5">Radio 5</label>
        </div>

        <div class="flex items-center">
            <input type="radio" id="radio-6" name="radio-horizontal" class="tc-form-radio" value="input-radio-6">
            <label class="tc-form-label ml-2" for="radio-6">Radio 6</label>
        </div>

    </div>

</div>
