<!-- select -->

<label class="tc-form-label mb-1 text-sm font-medium" for="select1">Select</label>
<select id="select1" name="select1" class="tc-form-select mb-6">
    <option value="">Choose one...</option>
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
    <option value="hamster">Hamster</option>
    <option value="parrot">Parrot</option>
    <option value="spider">Spider</option>
    <option value="goldfish">Goldfish</option>
</select>

<!-- select-optgroup -->

<label class="tc-form-label mb-1 text-sm font-medium" for="select-optgroup">Select (optgroup)</label>
<select id="select-optgroup" name="select-optgroup" class="tc-form-select mb-6">
    <optgroup label="Theropods">
        <option>Tyrannosaurus</option>
        <option>Velociraptor</option>
        <option>Deinonychus</option>
    </optgroup>
    <optgroup label="Sauropods">
        <option>Diplodocus</option>
        <option>Saltasaurus</option>
        <option>Apatosaurus</option>
    </optgroup>
</select>

<!-- select-multiple -->

<label class="tc-form-label mb-1 text-sm font-medium" for="select-multiple">Select Multiple</label>
<select id="select-multiple" name="select-multiple" class="tc-form-select" multiple>
    <option value="">Choose multiple...</option>
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
    <option value="hamster">Hamster</option>
    <option value="parrot">Parrot</option>
    <option value="spider">Spider</option>
    <option value="goldfish">Goldfish</option>
</select>