<!-- disabled -->

<label class="tc-form-label mb-1 text-sm font-medium" for="input-disabled">Input (disabled)</label>
<input type="text" id="input-disabled" name="input-disabled" class="tc-form-input mb-6" placeholder="Input (disabled)" disabled>

<!-- text-inside-l -->

<label class="tc-form-label mb-1 text-sm font-medium" for="input-text-inside-l">Input (text inside left)</label>

<div class="relative mb-6">

    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none tu-text-light">https://</div>
    <input type="text" id="input-text-inside-l" name="input-text-inside-l" class="tc-form-input pl-[4.5rem]" placeholder="Input (text inside left)">

</div>

<!-- icon-inside-l -->

<label class="tc-form-label mb-1 text-sm font-medium" for="input-icon-inside-l2">Input (icon inside left )</label>

<div class="relative mb-6">

    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none tu-text-light">

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
        </svg>

    </div>

    <input type="text" id="input-icon-inside-l2" name="input-icon-inside-l" class="tc-form-input pl-10" placeholder="Input (icon inside left)">

</div>

<!-- icon-inside-r -->

<label class="tc-form-label mb-1 text-sm font-medium" for="input-icon-inside-r2">Input (icon inside right)</label>

<div class="relative mb-6">

    <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none tu-text-light">

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
        </svg>

    </div>

    <input type="text" id="input-icon-inside-r2" name="input-icon-inside-l" class="tc-form-input pr-10" placeholder="Input (icon inside right)">

</div>

<!-- button-inside-r -->

<label class="tc-form-label mb-1 text-sm font-medium" for="input-button-inside-r">Input (button inside right)</label>

<div class="flex mb-6">

    <input type="text" id="input-button-inside-r" name="input-button-inside-r" class="tc-form-input rounded-r-none z-0" placeholder="Input (button inside right)">

    <div>
        <input type="submit" class="tc-btn tc-style-default focus:tu-ring-info rounded-l-none border-l-0" value="Submit">
    </div>

</div>

<!-- status-info -->

<label class="tc-form-label mb-1 text-sm font-medium tu-text-info-light" for="input-info">Input (status-info)</label>
<input type="text" id="input-info" name="input-info" class="tc-form-input tc-form-status-info mb-6" placeholder="Input (status-info)">

<!-- status-warning -->

<label class="tc-form-label mb-1 text-sm font-medium tu-text-warning-light" for="input-warning">Input (status-warning)</label>
<input type="text" id="input-warning" name="input-warning" class="tc-form-input tc-form-status-warning mb-6" placeholder="Input (status-warning)">

<!-- status-error -->

<label class="tc-form-label mb-1 text-sm font-medium tu-text-error-light" for="input-error">Input (status-error)</label>
<input type="text" id="input-error" name="input-error" class="tc-form-input tc-form-status-error mb-6" placeholder="Input (status-error)">

<!-- status-success -->

<label class="tc-form-label mb-1 text-sm font-medium tu-text-success-light" for="input-success">Input (status-success)</label>
<input type="text" id="input-success" name="input-success" class="tc-form-input tc-form-status-success" placeholder="Input (status-success)">