<!-- Tooltip -->

<p class="tu-typo-apply">
    Popups can be shown in the form of a
    <span class="underline decoration-dotted cursor-pointer"
          data-popup="popup-tooltip"
          data-popup-placement="right"
          data-popup-offset="10,0"
          data-popup-trigger="hover"
          data-popup-unique="true"
          aria-describedby="popup-tooltip">tooltip</span>.
</p>

<div id="popup-tooltip"
     class="px-2 py-1 text-sm max-w-sm tc-popup tc-style-inverse tu-border-radius tu-border-width tu-box-shadow"
     role="tooltip">
    This is a tooltip example. It hides and shows automatically.
    <div class="tc-popup-arrow"></div>
</div>

<!-- Menu -->

<button id="test-popup-btn" type="button" class="tc-btn tc-style-default"
        data-popup="popup-menu"
        data-popup-placement="bottom-start"
        data-popup-trigger="click">Open menu
    <skin-icon class="ml-2 h-5 w-5" name="chevron-down"></skin-icon>
</button>

<div id="popup-menu" class="p-4 w-[225px] tc-popup tc-style-content tu-border-radius tu-border-width tu-box-shadow"
     role="menu" tabindex="0">

    <h3 class="uppercase tracking-wide font-semibold text-sm mb-2 tu-text-light">Menu</h3>

    <ul class="text-sm">
        <li><a href="#" title="First item" class="flex items-center p-2 hover:text-theme-primary hover:tu-bg-default tu-border-radius">First item</a></li>
        <li><a href="#" title="Second item" class="flex items-center p-2 hover:text-theme-primary hover:tu-bg-default tu-border-radius">Second item</a></li>
        <li><a href="#" title="Third item" class="flex items-center p-2 hover:text-theme-primary hover:tu-bg-default tu-border-radius">Third item</a></li>
        <li><a href="#" title="Fourth item" class="flex items-center p-2 hover:text-theme-primary hover:tu-bg-default tu-border-radius">Fourth item</a></li>
    </ul>

</div>