<div class="tc-progress text-xs bg-gray-300 mb-6">
    <div class="tc-progress-bar bg-theme-primary w-[40%] font-semibold text-white">40%</div>
</div>

<div class="tc-progress mb-6 shadow-inner">
    <div class="tc-progress-bar bg-gradient-to-b from-green-400 to-green-600 w-1/2 font-semibold text-white">50%</div>
</div>

<div class="tc-progress mb-6">
    <div class="tc-progress-bar bg-theme-primary w-1/2 font-semibold text-white">50%</div>
    <div class="tc-progress-bar bg-theme-secondary w-1/4 font-semibold text-white">25%</div>
</div>

<div class="tc-progress rounded-full">
    <div class="tc-progress-bar bg-theme-primary w-full font-semibold text-white">100%</div>
</div>