<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">

    <div class="p-4 tc-style-default border">tc-style-default</div>
    <div class="p-4 tc-style-default-o border">tc-style-default-o</div>
    <div class="p-4 tc-style-content border">tc-style-content</div>
    <div class="p-4 tc-style-inverse border">tc-style-inverse</div>
    <div class="p-4 tc-style-primary border">tc-style-primary</div>
    <div class="p-4 tc-style-primary-o border">tc-style-primary-o</div>
    <div class="p-4 tc-style-secondary border">tc-style-secondary</div>
    <div class="p-4 tc-style-secondary-o border">tc-style-secondary-o</div>
    <div class="p-4 tc-style-info border">tc-style-info</div>
    <div class="p-4 tc-style-info-o border">tc-style-info-o</div>
    <div class="p-4 tc-style-info-light border">tc-style-info-light</div>
    <div class="p-4 tc-style-warning border">tc-style-warning</div>
    <div class="p-4 tc-style-warning-o border">tc-style-warning-o</div>
    <div class="p-4 tc-style-warning-light border">tc-style-warning-light</div>
    <div class="p-4 tc-style-error border">tc-style-error</div>
    <div class="p-4 tc-style-error-o border">tc-style-error-o</div>
    <div class="p-4 tc-style-error-light border">tc-style-error-light</div>
    <div class="p-4 tc-style-success border">tc-style-success</div>
    <div class="p-4 tc-style-success-o border">tc-style-success-o</div>
    <div class="p-4 tc-style-success-light border">tc-style-success-light</div>

</div>