<!DOCTYPE html>
<html lang="en" class="scroll-pt-[65px] scroll-smooth tu-bg-content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./assets/css/styles.css" rel="stylesheet">

    <link rel="icon" href="./assets/img/favicon/favicon.ico" type="image/x-icon" sizes="any">
    <link rel="icon" href="./assets/img/favicon/favicon.svg" type="image/svg+xml">

    <title>Skin :: {{ title }}</title>

    <script defer="defer" src="./assets/js/scripts.js"></script>

</head>

<body class="tu-text-default">

<div id="body-wrap">

    <div id="header-wrap" class="fixed z-20 w-full h-14 overflow-hidden tc-style-content border-b tu-border-default tu-box-shadow print:hidden">

        <header class="flex flex-row items-center h-full">

            <!-- Left -->
            <div class="md:basis-[280px] grow-0 shrink-0 px-4">

                <div class="flex items-center">

                    <!-- Hamburger -->
                    <div class="md:hidden mr-4">

                        <button id="sidebar-trigger" class="inline-flex justify-center items-center hover:tu-bg-default w-10 h-10 rounded-full cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5"
                                 stroke="currentColor"
                                 class="w-8 h-8">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                            </svg>

                        </button>

                    </div>

                    <!-- Logo -->
                    <div>

                        <a href="index.html" title="Skin" class="flex items-center">

                            <div class="text-3xl font-bold text-theme-primary uppercase">Skin</div>

                        </a>

                    </div>

                </div>

            </div>

            <!-- Remaining header -->
            <div class="w-full h-full">

                <div class="flex items-center justify-end h-full">

                    <!-- Right -->
                    <div class="flex items-center h-full px-4">

                        <div>
                            <a href="https://github.com/bayfrontmedia/skin"
                               title="GitHub"
                               class="hover:tu-bg-default w-10 h-10 inline-flex justify-center items-center rounded-full"
                               target="_blank">
                                <svg class="w-6 h-6"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     fill="currentColor"
                                     viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                                </svg>
                            </a>
                        </div>

                        <div>

                            <button class="hidden dark:inline-flex justify-center items-center hover:tu-bg-default w-10 h-10 rounded-full cursor-pointer" data-theme-toggle="light">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-300">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"></path>
                                </svg>
                            </button>

                            <button class="inline-flex dark:hidden justify-center items-center hover:tu-bg-default w-10 h-10 rounded-full cursor-pointer" data-theme-toggle="dark">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
                                </svg>
                            </button>

                        </div>

                        <div class="px-2 py-3 h-full">
                            <div class="border-r tu-border-default w-1 h-full"></div>
                        </div>

                        <div class="pl-2 text-sm">
                            <span>v0.1.0</span>
                        </div>

                    </div>

                </div>

            </div>

        </header>

    </div> <!-- /#header-wrap -->

    <div id="content-wrap" class="pt-14">

        <main id="content" class="md:pl-[280px] tc-style-content">

            <div class="p-4 md:container lg:max-w-screen-lg md:mx-auto">

                {% block content %}{% endblock %}

                <footer class="text-center text-sm pt-6 tu-text-light tu-typo">
                    <div class="text-sm">
                        <p>&copy; <a href="https://www.bayfrontmedia.com"
                                     title="Bayfront Media"
                                     target="_blank">Bayfront Media</a> &middot;
                            Icons by <a href="https://heroicons.com/"
                                        title="heroicons"
                                        target="_blank">heroicons</a> &middot;
                            Syntax highlighting by <a href="https://prismjs.com/"
                                                     title="Prism"
                                                     target="_blank">Prism</a>
                        </p>
                    </div>
                </footer>

            </div>

        </main>

        <aside id="sidebar" class="text-sm z-10 fixed top-14 pb-14 left-0 w-[280px] h-screen transition-transform -translate-x-full md:translate-x-0 tc-style-content border-r overflow-y-scroll print:hidden">

            <div class="p-4">

                {% for section in sidebarItems %}

                <h2 class="uppercase tracking-wide mb-2 font-semibold">{{ section.heading }}</h2>

                <ul class="mb-6 border-l-2 tu-border-default">

                    {% for item in section.items %}

                    <li class="pl-2 py-0.5">
                        <a class="p-2 tu-border-radius hover:tu-bg-default hover:text-theme-primary cursor-pointer block{% if item.title === title %} font-semibold text-theme-primary tu-bg-default{% endif %}"
                           href="{{ item.href }}"
                           title="{{ item.title }}">{{ item.title }}</a>
                    </li>

                    {% endfor %}

                </ul>

                {% endfor %}

            </div>

        </aside>

    </div> <!-- /#content-wrap -->

</div> <!-- /#body-wrap -->

<script>

    window.addEventListener("load", () => {

        Skin.App.init({
            debug: true
        });

    });

    /**
     * Toggle sidebar when Esc key is pressed, if visible.
     *
     * @param event
     */

    function toggleSidebarFromKeydown(event) {

        const body = document.querySelector('body');

        if (body.dataset.sidebarVisible === "true") {

            let isEscape = false;

            if ("key" in event && (event.key === "Escape" || event.key === "Esc")) {
                isEscape = true;
            }

            if (isEscape) {
                toggleSidebar();
            }

        }

    }

    /**
     * Toggle sidebar visibility.
     */

    function toggleSidebar() {

        const body = document.querySelector("body");
        const content = document.getElementById("content");
        const sidebar = document.getElementById("sidebar");

        if (body.dataset.sidebarVisible !== "true") { // Open sidebar

            body.dataset.sidebarVisible = "true";

            // Add overlay

            content.classList.add("blur-sm", "brightness-90");

            // Show sidebar

            sidebar.classList.remove("-translate-x-full");

            // Add event listener

            document.addEventListener("keydown", toggleSidebarFromKeydown);
            content.addEventListener("click", toggleSidebar);

        } else { // Close sidebar

            body.dataset.sidebarVisible = "false";

            // Remove overlay

            content.classList.remove("blur-sm", "brightness-90");

            // Hide sidebar

            sidebar.classList.add("-translate-x-full");

            // Remove event listeners

            document.removeEventListener("keydown", toggleSidebarFromKeydown);
            content.removeEventListener("click", toggleSidebar);

        }

    }

    document.getElementById("sidebar-trigger").addEventListener("click", toggleSidebar);

</script>

<script src="./assets/prism/prism.js"></script>

</body>
</html>